**/*.svg
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.stylelintignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
assets
**/*.min.js
.idea
.husky
node_modules/
scripts/templates/
pnpm-lock.yaml
